/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                        FUENTES                                                                */

@font-face
{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: 'porta';
    src: url('../fonts/pluton.eot?49924914');
    src: url('../fonts/pluton.eot?49924914#iefix') format('embedded-opentype'),
    url('../fonts/pluton.woff?49924914') format('woff'),
    url('../fonts/pluton.ttf?49924914') format('truetype'),
    url('../fonts/pluton.svg?49924914#porta') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                       TAGS GENERALES                                                          */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', Calibri, Tahoma, Arial, sans-serif;
}

a, #main-nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main > div:nth-child(odd) > hr {
    border: 1px #eee solid!important;
}

main > div:nth-child(even) > hr {
    border: 1px black solid!important;
}

main > div:nth-child(odd) input[type="button"],
main > div:nth-child(odd) input[type="submit"] {
    border: 1px white solid!important;
    background-color: #272727!important;
    color: white;
}

main > div:nth-child(odd) input[type="button"]:hover,
main > div:nth-child(odd) input[type="submit"]:hover {
    background-color: #fef16c!important;
    color: black;
}

main > div:nth-child(even) input[type="button"]:active,
main > div:nth-child(even) input[type="submit"]:active {
    box-shadow: inset 0 0 5px white;
}

.dyngen hr {
    border: 1px #666 solid;
}

hr {
    margin-top: 10px;
}

hr.mid {
    width: 70%;
    margin: 0 auto;
}

hr.extra {
    width: 200%;
    margin: 0 -50%;
}

footer {
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
    outline: 0;
    border: 0;
}

input[type="text"],
input[type="password"],
textarea {
    /*background-color: white;*/
    box-shadow: inset 1px 1px 2px #ddd;
    border: 1px #999 solid;
    border-radius: 5px;
    padding: 15px;
}

textarea {
    
}

input[type="text"] {
    
}

input[type="button"],
input[type="submit"] {
    border: 1px solid black;
    background-color: #fef16c;
    font-size: 110%;
    padding: 11px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #272727;
    color: white;
}

input[type="button"]:active,
input[type="submit"]:active {
    box-shadow: inset 0 0 5px black;
}

input[type="button"] {
    
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                    INDEX PRINCIPAL                                                            */

.web-page {
    position: absolute;
    top: 0;
    left: 0;
}

.web-page.activewp {
    z-index: 1;
}

.web-page:not(.activewp) {
    z-index: 0;
}

.web-page {
    margin: -1px 0 -1px -1px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                        SLIDER                                                                 */

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    background: transparent url(../images/Slider.png) repeat-x 0 0;
    background-attachment: fixed;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #fef16c;
    opacity: 0.85;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                  MENU PRINCIPAL                                                               */

#main-nav {
    width: 100%;
    height: 70px;
    background-color: #272727;
}

#main-nav img {
    float: left;
    width: 216px;
    height: 50px;
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
}

#main-nav ul {
    float: right;
    margin-right: 5px;
}

#main-nav ul li {
    position: relative;
    display: inline-block;
    color: white;
    padding: 15px 10px;
    margin: 10px 3px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border-color 1s ease;
    text-align: center;
}

.menuXI ul li {
    min-width: 100px;
}

#main-nav ul li:hover {
    cursor: pointer;
}

#main-nav ul li:hover,
.active {
    border: 1px solid #fef16c!important;
    transition-duration: 1s;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgba(39, 39, 39, .75)!important;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                        SUBMENU                                                                */

#main-nav ul li:hover > .submenu {
    transform-origin: top;
    transform: scaleY(1);
    transition: transform .5s ease;
}

#main-nav ul li:not(:hover) > .submenu {
    transform-origin: top;
    transform: scaleY(0);
    transition: transform .5s ease;
}

.submenu {
    transform: scaleY(0);
    position: absolute;
    top: 47px;
    left: -1px;
    width: calc(100% + 2px);
    z-index: 1;
    border: 1px gray solid;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.submenu a {
    position: relative;
    display: block;
    padding: 0 5px;
    line-height: 30px;
    height: 30px;
    text-align: left;
    background-color: rgba(39, 39, 39, .9);
    word-break: break-all;
}

.submenu a:last-child {
    border-radius: 0 0 5px 5px;
}

.submenu a:not(:last-child):after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.submenu a:hover {
    background-color: rgba(90, 90, 90, .9);
    transition-duration: 1s;
}

.small_menu {
    float: right;
    top: 5px;
    border: 2px white solid;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    margin: 10px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                  CONTENIDO PRINCIPAL                                                          */

main > div:nth-child(even) {
    background-color: #fef16c;
}

main > div:nth-child(odd) {
    background-color: #272727;
    color: white;
}

main > div:last-child {
    padding-bottom: 100px;
}

main > div {
    position: relative;
    word-wrap:break-word;
    width: 100%;
    padding: 60px 15px;
}

.triangle {
    content: '';
    margin: 0 auto;
    text-align: center;
    width: 0;
    height: 0;
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: absolute;
    bottom: -29px;
    left: calc(50% - 585px);
    z-index: 3;
    opacity: 0;
}

main > div:nth-child(odd) > .triangle {
    border-top: 30px solid #272727;
}

main > div:nth-child(even) > .triangle {
    border-top: 30px solid #fef16c;
}

main > div:first-child:after,
main > div:nth-child(3):after {
    display: none;
}

main > div h1,
main > div h2 {
    font-weight: normal;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                           FOOTER                                                              */

footer {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                         LOGIN PANEL                                                           */

.login_ad {
    padding: 10px 30px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                            MISC                                                               */

#subir {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 2000;
    border: 1px black solid;
    border-radius: 5px;
    color: black;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fef16c;
}

#subir:hover {
    transform: scale(1.15);
    transition-duration: .5s;
    cursor: pointer;
}

#subir:not(:hover) {
    transform: scale(1);
    transition-duration: .5s;
}

.orange {
    color: #fef16c;
}

.brange {
    border: 1px solid #fef16c;
}

main > div img[src="images/wip.png"] {
    width: 200px;
    height: 200px;
}

.scrollprog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    z-index: 1000;
    background-color: red;
}

.dyngen > h1 {
    font-weight: bold;
    text-align: center;
}

.breakcont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #181A1C url(../images/brand-bg.png) no-repeat center;
}

.breakcont > h2 {
    color: #fef16c;
    font-weight: bold;
}

.finline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
}

.finline.yellow {
    background-color: #fef16c;
}

.finline.gray {
    background-color: #272727;
}

.dyngen:last-child {
    padding-bottom: 20px!important;
}

.highl {
    color: lightgray;
    text-shadow: 2px 2px black;
}

.selec {
    background: #272727;
    box-shadow: inset 0 0 0 white!important;
    border: 1px white solid!important;
    color: lightgray;
    font-size: 110%;
    padding: 11px!important;
    text-align: center;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.domter {
    position: relative;
    margin: 0 auto;
}

.ctint.member .circled {
    filter: invert(0.2) sepia(1) saturate(2);
    width: 32px;
    height: 32px;
    margin: 5px 10px!important;
}

/*.ctint.member:hover .circled,
.ctint.social:hover .circled,
.ctint.member:not(:hover) .circled,
.ctint.social:not(:hover) .circled {
    transition-duration: 1s;
}*/

.ctint.member:hover .circled,
.ctint.social:hover .circled {
    filter: invert(1)!important;
}

.ctint.social .circled {
    width: 48px;
    height: 48px;
}

.ctint.social {
    margin: 0 10px;
}

.ctint {
    display: inline-block;
    position: relative;
}

.ctint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                           AFILIADOS                                                           */

.affiliates > div {
    width: 100%;
    position: relative;
}

.affiliates > div > div:first-child {
    display: inline-block;
    width: 40%;
    min-width: 250px;
    height: 150px;
    border: 1px black solid;
}

.aff-opinion 
{
    display: inline-block;
    position: absolute;
    margin-left: 25px;
    width: 50%;
    height: 150px;
    padding: 10px;
    background: #333;
    border-radius: 10px;
    border: #FFFFFF solid 1px;
    color: white;
}

.aff-opinion:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #333;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 60px;
}

.aff-opinion:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 0;
    left: -16px;
    top: 60px;
}

.othaff.breakcont {
    max-height: 350px;
}

.othaff > div {
    display: inline-block;
    width: 24%;
    min-width: 200px;
    height: 100px;
    border: 1px black solid;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                           CONTACTO                                                            */

#contacto {
    padding-top: 250px!important;
}

.contact {
    text-align: center;
}

.contact > div:first-child {
    padding: 0 50px;
    height: 485px;
    position: relative;
}

.contact > div:first-child > div:first-child {
    float: left;
}

.contact > div:first-child > div:nth-child(2) {
    float: right;
}

.contact > div:first-child > div > h2 {
    text-decoration: underline;
}

.contact-form {
    background-color: lightgray;
    padding: 20px 60px;
    min-width: 500px;
    min-height: 450px;
}

.contact-form > input,
.contact-form > textarea {
    margin: 7px 0;
    width: 100%;
}

.contact-form > textarea {
    resize: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                           MIEMBROS                                                            */

.staff > div {
    display: inline-block;
    min-width: 200px;
    border: 1px white solid;
}

.staff .thumbnail {
    padding: 0 0 97px 0;
}

.staff .thumbnail .caption {
    max-height: 97px;
}

.staff .thumbnail:hover .mask {
    top: 0;
}

.staff .thumbnail:hover .caption > h3 {
    color: #272727;
}

.staff .thumbnail:hover .circled {
    filter: none;
}

.staff .thumbnail h3 {
	line-height: 40px;
}

.staff .thumbnail .mask {
    z-index: 0;
    padding: 20px 10px;
	top: 100%;
	transition: all .2s ease-out;
}

.staff .thumbnail .mask h3 {
    color: #272727!important;
    font-weight: bold;
    font-size: 200%;
}

.members > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px black solid;
    margin: 1px 3px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                         NOTIFICACIONES                                                        */

#notificaciones {
    padding-top: 330px!important;
    padding-bottom: 20px!important;
}

.socialblock:not(.youtube) {
    display: inline-block;
    width: 400px;
    height: 300px;
}

.socialblock > div {
    width: 100%;
}

.socialblock > h2 {
    text-align: center;
    text-decoration: underline;
}

.blogbox > div {
    display: inline-block;
    width: 33%;
    min-width: 250px;
    height: 400px;
    border: 1px black solid;
    position: relative;
}

.blogbox > div input {
    position: absolute;
    bottom: 5px;
}

.conttext {
    margin: 5px 0;
}

.newsl {
    display: flex;
}

.newsl > div {
    padding: 20px;
}

.newsl > div:first-child {
    width: 40%;
    text-align: justify;
}

.newsl > div:nth-child(2) {
    display: inline-block;
    line-height: 64px;
    width: 59%;
    text-align: center;
}

.newsl > div:nth-child(2) > input:first-child {
    width: 70%;
    margin-right: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                          PRESENTACIÓN                                                         */

#presentacion {
    text-align: center;
}

.dyngen:nth-child(3) {
    padding-top: 10px!important;
}

.things article > div:nth-child(2) > h3 {
    font-weight: bold;
    color: #fef16c;
    padding-bottom: 20px;
}

.things article {
    display: inline-table;
    position: relative;
    width: 33%;
    height: 300px;
}

.things article > div:first-child > img {
    display: inline;
    border-radius: 50%;
    border: 5px solid white;
    width: 150px;
    height: 150px;
    margin-top: 15px;
}

.things article > div:first-child > img:hover {
    transition-duration: .25s;
    transform: scale(1.25);
    margin-top: 0;
}

.things article > div:first-child > img:not(:hover) {
    transition-duration: .25s;
    transform: scale(1);
}

.things article > div:first-child {
    position: absolute;
    top: 0;
    left: calc(50% - 90px);
    width: 180px;
    height: 180px;
    text-align: center;
    margin-bottom: 10px;
}

.things {
    height: 350px;
}

.things.last {
    margin-bottom: -30px;
}

.things article > div:nth-child(2) {
    position: absolute;
    top: 180px;
}

.wwd {
    padding-bottom: 20px;
}

.skills {
    display: flex;
}

.skills > div {
    width: calc(50% - 0px);
    padding: 0 25px;
}

.skills > div:nth-child(2) {
    display: table;
    background-color: white;
    color: black;
    height: 295px;
}

.skills > div:nth-child(2) h1 {
    margin-bottom: 20px;
}

.skills > div:nth-child(2) > span {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}

.skills > div:first-child {
    display: inline-block;
}

.skills > div:first-child > #progress:first-child {
    margin-top: 0;
}

.skills > div:first-child > #progress:last-child {
    margin-bottom: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                           PROYECTOS                                                           */

.projcontainer .thumbnail {
    padding: 0 0 54px 0;
}

.projcontainer .thumbnail .caption {
    background-color: #272727;
    max-height: 54px;
}

.projcontainer .thumbnail:hover .mask {
    top: 0;
}

.projcontainer .thumbnail h3 {
	margin-top: 10px;
}

.projcontainer .thumbnail .mask {
    margin: 4px 0px 4px 4px;
    width: calc(100% - 8px);
    height: calc(100% - 58px);
    max-width: 650px;
    max-height: 460px;
	background: rgba(39, 39, 39, .85);
}

.proj_cats {
    margin-left: 30px;
}

.proj_cats li.active {
    background-color: lightgray;
    color: black;
}

.proj_cats > li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px white solid;
}

.proj_cats > li:hover {
    background-color: white;
    color: black;
}

#project_popup {
    display: none;
    margin: 10px 30px;
    position: relative;
    padding: 5px;
    border: 1px black solid;
}

#project_popup > div:not(:nth-child(3)) {
    display: inline-block;
    width: 50%;
    max-height: 400px;
}

#project_popup > div:nth-child(2) {
    position: relative;
    margin-left: 30px;
    margin-right: 0px;
    padding: 10px;
}

#project_popup h3 {
    display: inline-block;
}

#project_popup h3:nth-child(odd) {
    width: 220px;
}

#project_popup > div:nth-child(2) input[type="button"] {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: calc(-126.73px / 2);
}

.project_close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    color: gray;
    font-weight: bold;
    font-size: 200%;
    z-index: 6;
}

.proj_cat {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 0, .75);
    border: 1px solid black;
    padding: 2px 5px;
    color: black;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                      PROYECTOS DESTACADOS                                                     */

.projdest > div {
    display: inline-block;
    width: 49%;
    min-width: 450px;
    height: 250px;
    border: 1px black solid;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                           ANIMATION                                                           */

.animated {
    animation-fill-mode:both;
    animation-duration:1s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                            LITTLE SLIDER                                                      */

.staff,
.projcontainer {
    padding-left: 30px;
}

.staff > div,
.projcontainer > div {
    display: inline-block;
    min-width: 200px;
    border: 1px black solid;
}

.staff .thumbnail,
.projcontainer .thumbnail {
    overflow: hidden;
    position: relative;
    box-shadow: none;
    text-align: center;
    background: #272727;
    display: inline-block;
    width: calc(33% - 15px);
    margin-top: 15px;
    margin-right: 15px;
    line-height: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out;
}

.staff .thumbnail .caption,
.projcontainer .thumbnail .caption {
    padding: 10px 4px 4px 4px;
    z-index: 1;
    position: absolute;
    width: 100%;
}

.staff .thumbnail > img,
.projcontainer .thumbnail > img {
    display: block;
    max-width: 100%;
    padding: 4px 4px 0 4px;
}

.staff .thumbnail .more,
.projcontainer .thumbnail .more {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    line-height: 80px;
    font-size: 300%;
}

.staff .thumbnail h3,
.projcontainer .thumbnail h3 {
	color: #fef16c;
	font-size: 20px;
}

.staff .thumbnail h3, 
.staff .thumbnail p,
.projcontainer .thumbnail h3, 
.projcontainer .thumbnail p {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 4;
}

.staff .thumbnail .mask,
.projcontainer .thumbnail .mask {
    z-index: 0;
	top: 100%;
	transition: all .2s ease-out;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                          BARRA DE PROGRESO                                                    */

.graph {
    margin: 25px 0;
    padding: 2px;
    background-color: white;
    color: black;
    position: relative;
}

#bar {
    width: 0;
    height: 35px; /* Not 30px because the 1px top-border brings it up to 30px to match #graph */
    background-color: #fef16c;
}

#bar p { 
    position: absolute; 
    text-align: center; 
    width: calc(100% - 4px);
    line-height: 35px; 
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/*                                                        MEDIA QUERY                                                            */

@media screen and (min-width: 600px) {
    .triangle {
        border-left: 350px outset transparent;
        border-right: 350px outset transparent;
        left: calc(50% - 350px);
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------- */